In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import plotly.graph_objects as go


# site url
url="https://merolagani.com/LatestMarket.aspx"

# make a get request to fetch the raw html data
con=requests.get(url)
soup=BeautifulSoup(con.text,"lxml")
table=soup.find('table',class_='table table-hover live-trading sortable')
headers=[i.text for i in table.find_all('th')]

data=[j for j in table.find_all('tr',{'class':["decrease-row","increase-row","nochange-row"]})]
# print(data)
result=[{headers[index]:cell.text for index,cell in enumerate(row.find_all('td'))} for row in data]
# fullname=[j.get('title') for j in table.find_all('a',{'target':'blank'})]

df=pd.DataFrame(result)
df

,Symbol,LTP,% Change,Open,High,Low,Qty.,PClose,Diff.
0,ACLBSL,860.00,1.42,872.00,840.20,855.00,655,,
1,ADBL,332.20,-0.24,338.00,331.70,336.00,"48,655",,
2,AHPC,357.50,0.11,364.50,354.00,354.00,"63,321",,
3,AKJCL,200.30,0.1,207.00,200.10,202.00,"52,176",,
4,AKPL,468.00,1.28,474.90,461.00,464.90,"126,852",,
...,...,...,...,...,...,...,...,...,...
208,UPCL,239.00,3.64,244.60,231.30,235.00,"190,537",,
209,UPPER,527.00,0.19,535.00,522.00,533.00,"89,096",,
210,USLB,"1,040.00",1.96,"1,040.40","1,040.00","1,040.40",391,,
211,VLBS,991.00,0.71,"1,005.00",986.00,"1,000.00","1,696",,
212,WNLB,935.00,-0.32,969.00,935.00,940.00,480,,

In [6]:
import pandas as pd 
pd.DataFrame(result)

,Symbol,LTP,% Change,Open,High,Low,Qty.,PClose,Diff.
0,ACLBSL,860.00,1.42,872.00,840.20,855.00,655,,
1,ADBL,332.20,-0.24,338.00,331.70,336.00,"48,655",,
2,AHPC,357.50,0.11,364.50,354.00,354.00,"63,321",,
3,AKJCL,200.30,0.1,207.00,200.10,202.00,"52,176",,
4,AKPL,468.00,1.28,474.90,461.00,464.90,"126,852",,
...,...,...,...,...,...,...,...,...,...
208,UPCL,239.00,3.64,244.60,231.30,235.00,"190,537",,
209,UPPER,527.00,0.19,535.00,522.00,533.00,"89,096",,
210,USLB,"1,040.00",1.96,"1,040.40","1,040.00","1,040.40",391,,
211,VLBS,991.00,0.71,"1,005.00",986.00,"1,000.00","1,696",,
212,WNLB,935.00,-0.32,969.00,935.00,940.00,480,,

In [2]:
df.to_csv("mrolaganidata.csv")

In [4]:
# x=list(df['Symbol'])[0:10]
# y=list(df['LTO'])[0:10]
# fig = go.Figure([go.Bar(x, y)])
# fig.show()